.CommentArea {
  border: 1px dotted rgb(200, 200, 200);
  padding: 20px;
  margin: 10px 0;
  font-family: Arial;
}

.commment-list {
  padding: 0;
  margin-top: 0;
}

.commment-list li {
  list-style-type: none;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgb(200, 200, 200);
}

.picture {
  float: left;
  width: 40px;
  padding-right: 10px;
}

.username, .no-comments {
  color: rgb(200, 200, 200);
}

.username {
  font-size: 12px;
}
